<mat-drawer-container *ngIf="room">
  <mat-drawer #drawer>Drawer content</mat-drawer>
  <mat-drawer-content>
    <div id="message-bar">
      <button mat-button (click)="drawer.toggle()">Home</button>
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="2"
          placeholder="write a message"
        ></textarea>
      </mat-form-field>
      <button mat-button>send</button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<mat-spinner *ngIf="!room"></mat-spinner>
