<mat-drawer-container *ngIf="roomService.room">
  <mat-drawer #drawer>
    <mat-card>
      <mat-card-title>{{ roomService.room.name }}</mat-card-title>
    </mat-card>
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let user of roomService.room.users"
      >
        {{ user.name }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-list role="list" id="message-display">
      <mat-list-item
        role="listitem"
        *ngFor="let msg of roomService.room.messages"
      >
        <app-message-display
          *ngIf="msg.type === 'message'"
          user="{{ msg.content.author.name }}"
          message="{{ msg.content.content }}"
        ></app-message-display>
        <app-event-display
          *ngIf="msg.type === 'users update'"
          message="{{ msg.content }}"
        ></app-event-display>
      </mat-list-item>
    </mat-list>
    <div id="message-bar">
      <button mat-button (click)="drawer.toggle()">Home</button>
      <mat-form-field>
        <input
          matInput
          autocomplete="off"
          placeholder="write a message"
          [formControl]="messageInput"
          (keyup.enter)="submit()"
        />
      </mat-form-field>
      <button
        mat-button
        (click)="submit()"
        disabled="{{ messageInput.invalid }}"
      >
        send
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<mat-spinner *ngIf="!roomService.room"></mat-spinner>
